# Ignorar a pasta node_modules
node_modules/

# Ignorar logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar pastas de build/dist
dist/
dist-ssr/
*.tmp
*.log

# Ignorar configurações do IDE/Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db